[Unit]
Description=Run Huangque Invite Reward Claim Expiry Processor

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=huangque-invite-reward-claims.service

[Install]
WantedBy=timers.target
