{
  "openapi": "3.0.3",
  "info": {
    "title": "黄雀 AI · 后端接口总表",
    "version": "2.0.0",
    "description": "黄雀主站全部自有后端接口(认证/作图/文案/配音/视频/采集获客/下载/任务)。\n\n**认证**:除登录和健康检查外,均需 `Authorization: Bearer <token>`(登录拿)。点右上 Authorize 填 token 即可 Try it。\n\n**异步任务**:作图/文案/配音/视频/采集/获客 都返回 `job_id`,再轮询 `GET /api/gen/job/{id}` 取结果。\n\n**点数**:生成类接口预扣点数(见各接口说明),任务失败自动退点;点数不足返回 402。\n\n外部 TikHub 接口见另一份 spec(右上切换)。"
  },
  "servers": [{ "url": "https://huangquechuanmei.com", "description": "线上(nginx 按路径路由到各后端)" }],
  "tags": [
    { "name": "认证", "description": "登录 / 用户信息 / 点数(auth 8095)" },
    { "name": "作图", "description": "gpt-image + nano banana(content 8096 / imggen 8101)" },
    { "name": "文案", "description": "AI 文案 / 分镜脚本(content 8096)" },
    { "name": "短剧策划", "description": "短剧项目、策划应用和阶段确认(content 8096)" },
    { "name": "配音音色", "description": "TTS 配音 + 个人音色克隆(content 8096)" },
    { "name": "视频", "description": "HeyGen 数字人视频(content 8096)" },
    { "name": "采集获客", "description": "内容爬取 + 关键词获客(leadgen 8100)" },
    { "name": "下载", "description": "无水印视频下载(dl 8097)" },
    { "name": "任务/历史/文件", "description": "异步任务轮询、生成历史、文件下载" },
    { "name": "健康", "description": "各服务健康检查" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "登录 /api/auth/login 拿到的 token" }
    },
    "parameters": {
      "XCanvasBoardId": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": false,
        "description": "Optional for a local short-drama project. Required for a shared short-drama project and must equal its board_id; owner/editor/viewer may read and owner/editor may write.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
      },
      "XCanvasBoardIdRequired": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": true,
        "description": "Required collaboration board scope. It must resolve to the board that owns the digital-presenter project.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
      },
      "IdempotencyKeyRequired": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Stable key for one paid generation submission. Reusing it with an identical normalized request replays the result; reusing it with different content returns 409.",
        "schema": { "type": "string", "pattern": "^[A-Za-z0-9._:-]{8,128}$" }
      }
    },
    "schemas": {
      "JobAccepted": { "type": "object", "description": "异步任务受理", "properties": { "job_id": { "type": "integer" }, "cost": { "type": "integer", "description": "本次扣的点数" }, "points_left": { "type": "integer" } } },
      "JobStatus": { "type": "object", "properties": { "id": { "type": "integer" }, "kind": { "type": "string" }, "status": { "type": "string", "enum": ["pending", "running", "done", "error"] }, "result": { "description": "成功时结果；mode=short_drama 的 copy job 使用 ShortDramaPlanningResult。其他任务使用不带该 mode 的领域结果对象。", "oneOf": [{ "$ref": "#/components/schemas/ShortDramaPlanningResult" }, { "type": "object", "not": { "required": ["mode"], "properties": { "mode": { "enum": ["short_drama"] } } } }] }, "error": { "type": "string" }, "created_at": { "type": "integer" }, "updated_at": { "type": "integer" } } },
      "User": { "type": "object", "properties": { "username": { "type": "string" }, "name": { "type": "string" }, "points": { "type": "integer" }, "role": { "type": "string" }, "must_change": { "type": "boolean" } } },
      "ShortDramaDialogueLine": {
        "type": "object", "required": ["character_key", "text"], "additionalProperties": false,
        "properties": {
          "id": { "type": "string", "maxLength": 80, "readOnly": true },
          "client_token": { "type": "string", "maxLength": 120, "writeOnly": true },
          "character_key": { "type": "string", "maxLength": 80 },
          "speaker_name_snapshot": { "type": "string", "maxLength": 80, "readOnly": true },
          "text": { "type": "string", "maxLength": 4000 },
          "subtitle_enabled": { "type": "boolean", "default": true },
          "voice_overrides": { "type": "object", "additionalProperties": true }
        }
      },
      "ShortDramaCharacter": {
        "description": "cinematic_avatar 的 avatar_id 必须引用当前用户本人拥有、未删除且可用的电影级数字人；ai_character 不要求 avatar_id。",
        "type": "object", "required": ["character_key", "name", "identity_text", "personality", "source_type", "appearance_prompt", "wardrobe_prompt", "voice_settings"],
        "oneOf": [
          { "required": ["source_type"], "properties": { "source_type": { "enum": ["ai_character"] }, "avatar_id": { "type": "string", "nullable": true } } },
          { "required": ["source_type", "avatar_id"], "properties": { "source_type": { "enum": ["cinematic_avatar"] }, "avatar_id": { "type": "string", "minLength": 1 } } }
        ],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true },
          "character_key": { "type": "string", "maxLength": 80 }, "name": { "type": "string", "maxLength": 80 },
          "identity_text": { "type": "string", "maxLength": 2000 }, "personality": { "type": "string", "maxLength": 2000 },
          "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] }, "avatar_id": { "type": "string", "nullable": true },
          "appearance_prompt": { "type": "string", "maxLength": 4000 }, "wardrobe_prompt": { "type": "string", "maxLength": 4000 },
          "voice_key": { "type": "string", "nullable": true, "maxLength": 80 }, "voice_settings": { "type": "object", "additionalProperties": true },
          "sort_order": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaScriptVersion": {
        "type": "object", "required": ["title", "logline", "hook", "conflict_text", "turn_text", "ending", "dialogue_lines"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "version": { "type": "integer", "readOnly": true, "minimum": 1 },
          "title": { "type": "string", "maxLength": 80 }, "logline": { "type": "string", "maxLength": 4000 }, "hook": { "type": "string", "maxLength": 4000 },
          "conflict_text": { "type": "string", "maxLength": 4000 }, "turn_text": { "type": "string", "maxLength": 4000 }, "ending": { "type": "string", "maxLength": 4000 },
          "dialogue_lines": { "type": "array", "maxItems": 120, "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }, "created_at": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaShot": {
        "type": "object", "required": ["shot_key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "script_version": { "type": "integer", "readOnly": true },
          "shot_key": { "type": "string", "maxLength": 80 }, "sort_order": { "type": "integer", "readOnly": true }, "duration": { "type": "integer", "enum": [5, 10] },
          "scene_description": { "type": "string", "maxLength": 4000 }, "camera_description": { "type": "string", "maxLength": 4000 },
          "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
          "image_prompt": { "type": "string", "maxLength": 8000 }, "video_prompt": { "type": "string", "maxLength": 8000 }
        }
      },
      "ShortDramaProject": {
        "type": "object", "required": ["id", "board_id", "title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "target_platform", "point_budget", "spent_points", "stage", "revision", "characters", "script_versions", "dialogue_token_receipts", "shots"],
        "properties": {
          "id": { "type": "string", "format": "uuid" }, "board_id": { "type": "string", "nullable": true, "readOnly": true, "description": "null for a local project; otherwise the collaboration board that scopes access." }, "title": { "type": "string", "maxLength": 80 }, "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string", "maxLength": 80, "default": "电影写实" }, "target_platform": { "type": "string", "maxLength": 80, "default": "抖音" },
          "point_budget": { "type": "integer", "minimum": 0 }, "spent_points": { "type": "integer", "minimum": 0, "readOnly": true, "description": "当前项目已实际扣除且尚未确认退款的策划任务点数；任务入队扣点后立即计入，refunded=1 后移除。" },
          "stage": { "type": "string", "readOnly": true, "enum": ["draft", "characters_review", "script_review", "storyboard_review", "stills_review", "voice_review", "video_review", "assembly_review", "completed"] },
          "revision": { "type": "integer", "readOnly": true, "minimum": 1 }, "created_at": { "type": "integer", "readOnly": true }, "updated_at": { "type": "integer", "readOnly": true },
          "characters": { "type": "array", "maxItems": 20, "items": { "$ref": "#/components/schemas/ShortDramaCharacter" } },
          "script_versions": { "type": "array", "maxItems": 20, "items": { "$ref": "#/components/schemas/ShortDramaScriptVersion" } },
          "dialogue_token_receipts": { "type": "object", "readOnly": true, "description": "Active project-scoped client token to server line ID receipts for retry recovery.", "additionalProperties": { "type": "string", "maxLength": 80 } },
          "shots": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaShot" } }
        }
      },
      "ShortDramaProjectSummary": {
        "type": "object", "description": "项目列表使用的轻量摘要，不包含角色、剧本版本和分镜详情。",
        "required": ["id", "board_id", "title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "target_platform", "point_budget", "spent_points", "stage", "revision", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" }, "board_id": { "type": "string", "nullable": true, "readOnly": true }, "title": { "type": "string" }, "synopsis": { "type": "string" },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string" }, "target_platform": { "type": "string" }, "point_budget": { "type": "integer", "minimum": 0 }, "spent_points": { "type": "integer", "minimum": 0 },
          "stage": { "type": "string", "enum": ["draft", "characters_review", "script_review", "storyboard_review", "stills_review", "voice_review", "video_review", "assembly_review", "completed"] }, "revision": { "type": "integer", "minimum": 1 },
          "created_at": { "type": "integer" }, "updated_at": { "type": "integer" }
        }
      },
      "ShortDramaPlanningRequest": {
        "type": "object", "required": ["format", "project_id", "project_revision", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "format": { "type": "string", "enum": ["short_drama"] }, "prompt": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 }, "style": { "type": "string", "maxLength": 80 }, "platform": { "type": "string", "maxLength": 80 }
        }
      },
      "ShortDramaPlanningResult": {
        "type": "object", "required": ["type", "mode", "project_id", "project_revision", "settings", "plan", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "type": { "type": "string", "enum": ["copy"] }, "mode": { "type": "string", "enum": ["short_drama"] },
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "settings": { "type": "object", "required": ["ratio", "target_duration", "shot_count"], "additionalProperties": false, "properties": { "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 } } },
          "prompt": { "type": "string" }, "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "plan": {
            "type": "object", "required": ["title", "logline", "characters", "script", "shots"], "additionalProperties": false,
            "properties": {
              "title": { "type": "string" }, "logline": { "type": "string" },
              "characters": { "type": "array", "maxItems": 20, "items": {
                "type": "object", "required": ["key", "name", "identity", "identity_text", "personality", "appearance_prompt", "wardrobe_prompt", "source_type", "voice_key", "voice_settings"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "name": { "type": "string" }, "identity": { "type": "string" }, "identity_text": { "type": "string" }, "personality": { "type": "string" },
                  "appearance_prompt": { "type": "string" }, "wardrobe_prompt": { "type": "string" }, "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] },
                  "voice_key": { "type": "string", "nullable": true }, "voice_settings": { "type": "object", "additionalProperties": true }
                }
              } },
              "script": {
                "type": "object", "required": ["title", "logline", "hook", "conflict", "conflict_text", "turn", "turn_text", "ending", "dialogue_lines"], "additionalProperties": false,
                "properties": {
                  "title": { "type": "string" }, "logline": { "type": "string" }, "hook": { "type": "string" }, "conflict": { "type": "string" },
                  "conflict_text": { "type": "string" }, "turn": { "type": "string" }, "turn_text": { "type": "string" }, "ending": { "type": "string" },
                  "dialogue_lines": { "type": "array", "maxItems": 120, "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }
                }
              },
              "shots": { "type": "array", "minItems": 6, "maxItems": 10, "items": {
                "type": "object", "required": ["key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "duration": { "type": "integer", "enum": [5, 10] }, "scene_description": { "type": "string" }, "camera_description": { "type": "string" },
                  "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
                  "image_prompt": { "type": "string" }, "video_prompt": { "type": "string" }
                }
              } }
            }
          }
        }
      },
      "ShortDramaStillRequest": {
        "type": "object",
        "required": ["project_id", "revision", "shot_id", "prompt", "mode", "count"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "shot_id": { "type": "string", "minLength": 1 },
          "prompt": { "type": "string", "description": "可选的本次生成补充要求；分镜 image_prompt 由服务端单独读取，客户端不应重复提交。" },
          "mode": { "type": "string", "enum": ["single", "retry", "batch"] },
          "count": { "type": "integer", "enum": [2], "description": "The server accepts exactly two candidates per request." }
        }
      },
      "ShortDramaStillSubmission": {
        "type": "object",
        "required": ["project_id", "revision", "shot_id", "prompt", "mode", "count", "quote_token"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "shot_id": { "type": "string", "minLength": 1 },
          "prompt": { "type": "string" },
          "mode": { "type": "string", "enum": ["single", "retry", "batch"] },
          "count": { "type": "integer", "enum": [2] },
          "quote_token": { "type": "string", "pattern": "^[0-9a-f]{32}$" }
        }
      },
      "ShortDramaStillQuote": {
        "type": "object",
        "required": ["cost", "count", "kind", "quote_token", "expires_at", "shot_id", "base_prompt", "user_direction", "compiled_prompt", "source_prompt_hash"],
        "additionalProperties": false,
        "properties": {
          "cost": { "type": "integer", "minimum": 0 },
          "count": { "type": "integer", "enum": [2] },
          "kind": { "type": "string", "enum": ["still"] },
          "quote_token": { "type": "string", "pattern": "^[0-9a-f]{32}$" },
          "expires_at": { "type": "integer", "description": "Unix timestamp; quotes expire after 300 seconds." },
          "shot_id": { "type": "string" },
          "base_prompt": { "type": "string", "description": "服务器当前已确认的分镜画面提示词。" },
          "user_direction": { "type": "string", "description": "本次生成的可选补充要求。" },
          "compiled_prompt": { "type": "string", "description": "加入角色、镜头、连续性和质量约束后真正提交给模型的提示词。" },
          "source_prompt_hash": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "snapshot_id": { "type": "string", "nullable": true, "description": "启用资产图谱时，本报价绑定的不可变镜头快照。" },
          "package_hash": { "type": "string", "nullable": true, "pattern": "^[a-f0-9]{64}$" },
          "graph_revision": { "type": "integer", "nullable": true, "minimum": 1 }
        }
      },
      "ShortDramaAssetSelectionRequest": {
        "type": "object",
        "required": ["project_id", "revision", "asset_id", "version", "lock"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "asset_id": { "type": "string", "minLength": 1 },
          "version": { "type": "integer", "minimum": 1 },
          "lock": { "type": "boolean" }
        }
      },
      "ShortDramaProductionStageRequest": {
        "type": "object",
        "required": ["project_id", "revision", "stage"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["stills_review", "video_review"] }
        }
      },
      "ShortDramaStillJobAccepted": {
        "type": "object",
        "required": ["job_id", "cost", "points_left", "project_id", "shot_id"],
        "additionalProperties": false,
        "properties": {
          "job_id": { "type": "integer", "minimum": 1 },
          "cost": { "type": "integer", "minimum": 0 },
          "points_left": { "type": "integer", "minimum": 0 },
          "project_id": { "type": "string" },
          "shot_id": { "type": "string" }
        }
      },
      "ShortDramaProductionWorkspace": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "ratio", "point_budget", "spent_points", "reserved_points", "handoff_blocked", "handoff_blockers", "shots"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["stills_review", "voice_review", "video_review", "assembly_review", "completed"] },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "point_budget": { "type": "integer", "minimum": 0 },
          "spent_points": { "type": "integer", "minimum": 0 },
          "reserved_points": { "type": "integer", "minimum": 0 },
          "handoff_blocked": { "type": "boolean" },
          "handoff_blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["code", "message"],
              "additionalProperties": false,
              "properties": {
                "code": { "type": "string", "enum": ["missing_locked_still", "active_job", "refund_pending", "charge_attempt_pending", "ledger_inconsistent"] },
                "shot_id": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          },
          "shots": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "shot_key", "sort_order", "duration", "image_prompt", "references", "still"],
              "additionalProperties": false,
              "properties": {
                "id": { "type": "string" },
                "shot_key": { "type": "string" },
                "sort_order": { "type": "integer", "minimum": 0 },
                "duration": { "type": "integer", "enum": [5, 10] },
                "image_prompt": { "type": "string" },
                "references": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type", "id", "name", "source_type", "source_id"],
                        "additionalProperties": false,
                        "properties": {
                          "type": { "type": "string", "enum": ["character"] },
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] },
                          "source_id": { "type": "string" }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "id", "name", "url", "ratio"],
                        "additionalProperties": false,
                        "properties": {
                          "type": { "type": "string", "enum": ["continuity"] },
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "url": { "type": "string", "format": "uri-reference" },
                          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }
                        }
                      }
                    ]
                  }
                },
                "still": {
                  "type": "object",
                  "required": ["asset_id", "current_version", "locked", "versions", "job"],
                  "additionalProperties": false,
                  "properties": {
                    "asset_id": { "type": "string" },
                    "current_version": { "type": "integer", "minimum": 1, "nullable": true },
                    "locked": { "type": "boolean" },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "version", "job_id", "url", "prompt", "ratio", "cost", "status", "created_at"],
                        "additionalProperties": false,
                        "properties": {
                          "id": { "type": "string" },
                          "version": { "type": "integer", "minimum": 1 },
                          "job_id": { "type": "integer", "minimum": 1 },
                          "url": { "type": "string", "format": "uri-reference" },
                          "prompt": { "type": "string" },
                          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
                          "cost": { "type": "integer", "minimum": 0 },
                          "status": { "type": "string", "enum": ["done", "failed"] },
                          "created_at": { "type": "integer" }
                        }
                      }
                    },
                    "job": {
                      "type": "object",
                      "nullable": true,
                      "required": ["id", "job_id", "kind", "status", "quoted_cost", "error", "refunded", "refund_pending"],
                      "additionalProperties": false,
                      "properties": {
                        "id": { "type": "string" },
                        "job_id": { "type": "integer", "minimum": 1 },
                        "kind": { "type": "string", "enum": ["still"] },
                        "status": { "type": "string", "enum": ["pending", "running", "failed"] },
                        "quoted_cost": { "type": "integer", "minimum": 0 },
                        "error": { "type": "string" },
                        "refunded": { "type": "boolean" },
                        "refund_pending": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShortDramaAssemblyBlocker": {
        "type": "object",
        "required": ["code", "message"],
        "additionalProperties": false,
        "properties": {
          "code": { "type": "string", "enum": ["missing_locked_voice_shot", "missing_locked_video_shot", "missing_current_voice_version", "missing_current_video_version", "stale_voice_version", "stale_video_version", "missing_source_file", "source_file_untrusted", "ffprobe_unavailable", "media_probe_failed", "ratio_mismatch", "clip_duration_mismatch", "timeline_invalid", "audio_overlap", "subtitle_overlap", "project_duration_mismatch", "source_changed_during_probe", "missing_d1_media_plan", "bgm_asset_missing", "bgm_asset_forbidden", "bgm_source_untrusted", "bgm_probe_failed", "active_composition_job", "preview_missing", "final_missing", "active_lipsync_job", "lipsync_plan_missing", "lipsync_plan_invalid", "lipsync_dependency_changed", "lipsync_selection_changed", "lipsync_job_not_succeeded", "lipsync_billing_unsettled", "lipsync_source_hash_mismatch", "lipsync_manifest_invalid", "lipsync_manifest_mismatch"] },
          "message": { "type": "string" },
          "shot_id": { "type": "string" },
          "line_id": { "type": "string" }
        }
      },
      "ShortDramaAssemblyShot": {
        "type": "object",
        "required": ["id", "shot_key", "sort_order", "duration", "voice", "video", "ready", "blockers"],
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "shot_key": { "type": "string" },
          "sort_order": { "type": "integer", "minimum": 0 },
          "duration": { "type": "integer", "enum": [5, 10] },
          "voice": {
            "type": "object", "required": ["locked", "status", "timeline_revision", "lines"], "additionalProperties": false,
            "properties": {
              "locked": { "type": "boolean" },
              "status": { "type": "string", "enum": ["ready", "blocked"] },
              "timeline_revision": { "type": "integer", "minimum": 1, "nullable": true },
              "lines": { "type": "array", "items": { "type": "object" } }
            }
          },
          "video": {
            "type": "object", "required": ["confirmed", "status", "current_version", "video_revision", "source", "probe", "source_kind", "lipsync"], "additionalProperties": false,
            "properties": {
              "confirmed": { "type": "boolean" },
              "status": { "type": "string", "enum": ["ready", "blocked"] },
              "current_version": { "type": "integer", "minimum": 1, "nullable": true },
              "video_revision": { "type": "integer", "minimum": 1, "nullable": true },
              "source": { "type": "object", "nullable": true },
              "probe": { "type": "object", "nullable": true },
              "source_kind": { "type": "string", "enum": ["standard", "lipsync"] },
              "lipsync": { "type": "object", "nullable": true }
            }
          },
          "ready": { "type": "boolean" },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
        }
      },
      "ShortDramaCompositionVersion": {
        "type": "object",
        "required": ["id", "kind", "version", "job_id", "input_hash", "config", "url", "cover_url", "duration_ms", "width", "height", "fps", "video_codec", "audio_codec", "status", "global_video_asset_id", "created_at"],
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string", "enum": ["preview", "final"] },
          "version": { "type": "integer", "minimum": 1 },
          "job_id": { "type": "string" },
          "input_hash": { "type": "string" },
          "config": { "type": "object" },
          "plan_hash": { "type": "string" },
          "manifest_hash": { "type": "string" },
          "manifest": { "type": "object" },
          "url": { "type": "string", "format": "uri-reference" },
          "cover_url": { "type": "string", "format": "uri-reference" },
          "duration_ms": { "type": "integer", "minimum": 1, "nullable": true },
          "width": { "type": "integer", "minimum": 1, "nullable": true },
          "height": { "type": "integer", "minimum": 1, "nullable": true },
          "fps": { "type": "number", "exclusiveMinimum": true, "minimum": 0, "nullable": true },
          "video_codec": { "type": "string" },
          "audio_codec": { "type": "string" },
          "status": { "type": "string", "enum": ["rendering", "succeeded", "failed", "stale"] },
          "global_video_asset_id": { "type": "integer", "minimum": 1, "nullable": true },
          "asset_id": { "type": "string" },
          "created_by": { "type": "string" },
          "object_key": { "type": "string" },
          "cover_key": { "type": "string" },
          "sha256": { "type": "string" },
          "size": { "type": "integer", "minimum": 0, "nullable": true },
          "created_at": { "type": "integer" }
        }
      },
      "ShortDramaCompositionJob": {
        "type": "object",
        "nullable": true,
        "required": ["job_id", "kind", "status", "phase", "progress", "error_code", "error_message", "attempt_count", "created_at", "updated_at", "finished_at"],
        "additionalProperties": false,
        "properties": {
          "job_id": { "type": "string" },
          "kind": { "type": "string", "enum": ["preview", "final"] },
          "status": { "type": "string", "enum": ["queued", "running", "succeeded", "failed"] },
          "phase": { "type": "string" },
          "progress": { "type": "integer", "minimum": 0, "maximum": 100 },
          "error_code": { "type": "string" },
          "error_message": { "type": "string" },
          "attempt_count": { "type": "integer", "minimum": 0 },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" },
          "finished_at": { "type": "integer", "nullable": true }
        }
      },
      "ShortDramaAssemblyWorkspace": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "ratio", "target_duration", "assembly_revision", "config", "current_preview_version", "current_final_version", "preview_locked", "implementation_status", "rendering_enabled", "planner_version", "input_hash", "media_plan", "audio_subtitle", "master_audio", "lipsync_assembly", "shots", "versions", "active_job", "latest_job", "readiness", "actions", "blockers", "completion"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["assembly_review", "completed"] },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "target_duration": { "type": "integer", "enum": [30, 45, 60] },
          "assembly_revision": { "type": "integer", "minimum": 1 },
          "config": {
            "type": "object", "required": ["subtitle", "bgm", "profiles"], "additionalProperties": false,
            "properties": {
              "subtitle": {
                "type": "object", "required": ["enabled", "preset", "position"], "additionalProperties": false,
                "properties": {
                  "enabled": { "type": "boolean" },
                  "preset": { "type": "string", "enum": ["white_outline"] },
                  "position": { "type": "string", "enum": ["bottom", "top"] }
                }
              },
              "bgm": {
                "type": "object", "required": ["asset_id", "volume", "fade_in_ms", "fade_out_ms"], "additionalProperties": false,
                "properties": {
                  "asset_id": { "type": "string", "nullable": true },
                  "volume": { "type": "number", "minimum": 0, "maximum": 1 },
                  "fade_in_ms": { "type": "integer", "minimum": 0 },
                  "fade_out_ms": { "type": "integer", "minimum": 0 }
                }
              },
              "profiles": {
                "type": "object", "required": ["preview", "final"], "additionalProperties": false,
                "properties": {
                  "preview": { "type": "string", "enum": ["short_drama_preview_v1"] },
                  "final": { "type": "string", "enum": ["short_drama_final_v1"] }
                }
              }
            }
          },
          "current_preview_version": { "type": "integer", "minimum": 1, "nullable": true },
          "current_final_version": { "type": "integer", "minimum": 1, "nullable": true },
          "preview_locked": { "type": "boolean" },
          "implementation_status": { "type": "string", "enum": ["formal_export"] },
          "rendering_enabled": { "type": "boolean", "enum": [true] },
          "planner_version": { "type": "string", "enum": ["short_drama_media_plan_v1"] },
          "input_hash": { "type": "string", "nullable": true },
          "media_plan": { "type": "object", "nullable": true },
          "audio_subtitle": {
            "type": "object",
            "required": ["engine_version", "input_hash", "status", "error_code", "artifacts", "blockers", "bgm_source"],
            "additionalProperties": true,
            "properties": {
              "engine_version": { "type": "string", "enum": ["short_drama_audio_subtitle_v1"] },
              "input_hash": { "type": "string", "nullable": true },
              "status": { "type": "string", "enum": ["blocked", "not_built", "building", "ready", "failed", "stale"] },
              "error_code": { "type": "string" },
              "artifacts": { "type": "array", "items": { "type": "object" } },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } },
              "bgm_source": { "type": "object", "nullable": true }
            }
          },
          "master_audio": {
            "type": "object",
            "required": ["engine_version", "contract_version", "master_audio_hash", "status", "cache_hit", "duration_ms", "sample_rate", "channels", "codec", "artifact", "timeline", "blockers"],
            "additionalProperties": false,
            "properties": {
              "engine_version": { "type": "string", "enum": ["short_drama_master_audio_v1"] },
              "contract_version": { "type": "string", "enum": ["short_drama_master_timeline_v1"] },
              "master_audio_hash": { "type": "string", "nullable": true },
              "status": { "type": "string", "enum": ["blocked", "not_built", "building", "ready", "failed", "stale"] },
              "cache_hit": { "type": "boolean" },
              "duration_ms": { "type": "integer", "nullable": true },
              "sample_rate": { "type": "integer", "enum": [48000] },
              "channels": { "type": "integer", "enum": [2] },
              "codec": { "type": "string", "enum": ["pcm_s16le"] },
              "artifact": { "type": "object", "nullable": true },
              "timeline": { "type": "object" },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
            }
          },
          "lipsync_assembly": {
            "type": "object",
            "nullable": true,
            "description": "PR-H 固化的口型素材选择、依赖哈希及不可变版本证据"
          },
          "shots": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyShot" } },
          "versions": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaCompositionVersion" } },
          "active_job": { "$ref": "#/components/schemas/ShortDramaCompositionJob" },
          "latest_job": { "$ref": "#/components/schemas/ShortDramaCompositionJob" },
          "readiness": {
            "type": "object", "required": ["ready", "blockers"], "additionalProperties": false,
            "properties": {
              "ready": { "type": "boolean" },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
            }
          },
          "actions": {
            "type": "object", "required": ["can_save_config", "can_preview", "can_lock_preview", "can_export", "can_confirm"], "additionalProperties": false,
            "properties": {
              "can_save_config": { "type": "boolean", "enum": [false] },
              "can_preview": { "type": "boolean" },
              "can_lock_preview": { "type": "boolean", "enum": [false] },
              "can_export": { "type": "boolean" },
              "can_confirm": { "type": "boolean" }
            }
          },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } },
          "completion": { "$ref": "#/components/schemas/ShortDramaCompletionReadiness" }
        }
      },
      "ShortDramaCompletionBlocker": {
        "type": "object",
        "required": ["code", "domain", "entity_id", "message", "recommended_action"],
        "additionalProperties": false,
        "properties": {
          "code": { "type": "string" },
          "domain": { "type": "string" },
          "entity_id": { "type": "string", "nullable": true },
          "message": { "type": "string" },
          "recommended_action": { "type": "string" }
        }
      },
      "ShortDramaCompletionSummary": {
        "type": "object",
        "required": ["completion_id", "project_id", "stage", "revision", "base_revision", "final_version_id", "asset_id", "delivery_hash", "completed_by", "completed_at", "snapshot", "replayed"],
        "additionalProperties": false,
        "properties": {
          "completion_id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string" },
          "stage": { "type": "string", "enum": ["completed"] },
          "revision": { "type": "integer", "minimum": 2 },
          "base_revision": { "type": "integer", "minimum": 1 },
          "final_version_id": { "type": "string" },
          "asset_id": { "type": "string" },
          "delivery_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "completed_by": { "type": "string" },
          "completed_at": { "type": "integer" },
          "snapshot": { "type": "object" },
          "replayed": { "type": "boolean" }
        }
      },
      "ShortDramaCompletionReadiness": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "feature_enabled", "ready", "blockers", "delivery_hash", "checked_at"],
        "additionalProperties": true,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["assembly_review", "completed"] },
          "feature_enabled": { "type": "boolean" },
          "ready": { "type": "boolean" },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaCompletionBlocker" } },
          "delivery_hash": { "type": "string" },
          "checked_at": { "type": "integer" },
          "expires_at": { "type": "integer" },
          "final_version": { "type": "object" },
          "asset": { "type": "object" },
          "locks": { "type": "object" },
          "billing": { "type": "object" },
          "completion": { "$ref": "#/components/schemas/ShortDramaCompletionSummary" }
        }
      },
      "ShortDramaCompletionRequest": {
        "type": "object",
        "required": ["project_id", "revision", "final_version_id", "asset_id", "delivery_hash", "acknowledged"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "final_version_id": { "type": "string", "minLength": 1 },
          "asset_id": { "type": "string", "minLength": 1 },
          "delivery_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "acknowledged": { "type": "boolean", "enum": [true] }
        }
      },
      "ShortDramaPreviewRequest": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "revision", "assembly_revision"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "assembly_revision": {"type": "integer", "minimum": 1}
        }
      },
      "ShortDramaPreviewSubmission": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "job_id", "status", "replayed"],
        "properties": {
          "project_id": {"type": "string"},
          "job_id": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["queued", "running", "succeeded", "failed"]},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaFinalQuoteRequest": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "revision", "assembly_revision", "preview_version"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "assembly_revision": {"type": "integer", "minimum": 1},
          "preview_version": {"type": "integer", "minimum": 1},
          "cover_time_ms": {"type": "integer", "minimum": 0}
        }
      },
      "ShortDramaFinalExportRequest": {
        "allOf": [
          {"$ref": "#/components/schemas/ShortDramaFinalQuoteRequest"},
          {"type": "object", "required": ["cover_time_ms", "quote_token"],
           "properties": {"quote_token": {"type": "string", "pattern": "^[0-9a-f]{32}$"}}}
        ]
      },
      "ShortDramaFinalSubmission": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "job_id", "status", "cost", "replayed"],
        "properties": {
          "project_id": {"type": "string"},
          "job_id": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["queued", "running", "succeeded", "failed"]},
          "cost": {"type": "integer", "minimum": 0},
          "replayed": {"type": "boolean"}
        }
      },
      "FaceTarget": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "value"],
        "properties": {
          "type": {"type": "string", "enum": ["character"]},
          "value": {"type": "string", "minLength": 1}
        }
      },
      "ShortDramaLipsyncBlocker": {
        "type": "object",
        "additionalProperties": true,
        "required": ["code", "scope", "entity_id", "message", "repair_action"],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "missing_master_timeline", "timeline_stale",
              "missing_locked_visual",
              "missing_locked_audio", "missing_face_target",
              "overlapping_visible_speech", "alignment_stale",
              "alignment_review_incomplete",
              "active_lipsync_job", "provider_not_selected",
              "provider_unsupported", "project_stage_readonly"
            ]
          },
          "scope": {"type": "string", "enum": ["project", "shot", "segment"]},
          "entity_id": {"type": "string"},
          "message": {"type": "string"},
          "repair_action": {"type": "string"}
        }
      },
      "ShortDramaLipsyncSnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "revision", "generated_at", "contract_version",
          "hash_algorithm_version", "input_hash", "dependencies", "blockers",
          "can_quote", "active_jobs", "versions", "current_version", "stale",
          "permissions", "readiness", "features", "billing"
        ],
        "properties": {
          "project_id": {"type": "string"},
          "revision": {"type": "integer", "minimum": 1},
          "generated_at": {"type": "integer", "minimum": 0},
          "contract_version": {"type": "string", "enum": ["short-drama-lipsync-v1"]},
          "hash_algorithm_version": {"type": "string", "enum": ["canonical-json-sha256-v1"]},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "dependencies": {
            "type": "object",
            "required": [
              "timeline", "visual_sources", "audio", "alignment",
              "speakers", "provider_catalog"
            ],
            "additionalProperties": false,
            "properties": {
              "timeline": {"type": "object"},
              "visual_sources": {"type": "array", "items": {"type": "object"}},
              "audio": {"type": "object"},
              "alignment": {"type": "object"},
              "speakers": {"type": "array", "items": {"type": "object"}},
              "provider_catalog": {"type": "object"}
            }
          },
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/ShortDramaLipsyncBlocker"}
          },
          "can_quote": {"type": "boolean"},
          "active_jobs": {"type": "array", "items": {"type": "object"}},
          "billing": {
            "type": "object",
            "required": ["unsettled", "refund_pending", "manual_review"],
            "properties": {
              "unsettled": {"type": "array", "items": {"type": "object"}},
              "refund_pending": {"type": "integer", "minimum": 0},
              "manual_review": {"type": "integer", "minimum": 0}
            }
          },
          "versions": {"type": "array", "items": {"type": "object"}},
          "current_version": {"type": "array", "items": {"type": "object"}},
          "stale": {"type": "boolean"},
          "permissions": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "read", "quote", "can_edit", "can_create_job",
              "can_select", "can_lock"
            ],
            "properties": {
              "read": {"type": "boolean"},
              "quote": {"type": "boolean"},
              "can_edit": {"type": "boolean"},
              "can_create_job": {"type": "boolean"},
              "can_select": {"type": "boolean"},
              "can_lock": {"type": "boolean"}
            }
          },
          "readiness": {
            "type": "object"
          },
          "features": {
            "type": "object",
            "additionalProperties": false,
            "required": ["ui_enabled", "mutations_enabled", "batch_enabled"],
            "properties": {
              "ui_enabled": {"type": "boolean"},
              "mutations_enabled": {"type": "boolean"},
              "batch_enabled": {"type": "boolean"}
            }
          }
        }
      },
      "ShortDramaLipsyncQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "shot_id", "expected_revision",
          "expected_input_hash", "provider", "profile", "face_target",
          "idempotency_key"
        ],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "expected_revision": {"type": "integer", "minimum": 1},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "provider": {"type": "string", "minLength": 1},
          "profile": {"type": "string", "minLength": 1},
          "face_target": {
            "allOf": [{"$ref": "#/components/schemas/FaceTarget"}],
            "description": "前端显式选择的镜头内人物目标；报价时长仅统计该目标的可见对白区间。"
          },
          "idempotency_key": {"type": "string", "minLength": 1}
        }
      },
      "ShortDramaLipsyncQuote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "quote_id", "business_key", "quote_revision", "status",
          "quote_mode", "chargeable", "provider",
          "provider_capability_version", "profile", "pricing_version",
          "duration_ms", "actual_duration_ms", "billable_duration_ms",
          "media_spec", "cost", "input_hash", "expires_at", "replayed"
        ],
        "properties": {
          "quote_id": {"type": "string", "format": "uuid"},
          "business_key": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "quote_revision": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["issued"]},
          "quote_mode": {"type": "string", "enum": ["simulation", "paid"]},
          "chargeable": {"type": "boolean"},
          "provider": {"type": "string"},
          "provider_capability_version": {"type": "string"},
          "profile": {"type": "string"},
          "pricing_version": {"type": "string"},
          "duration_ms": {
            "type": "integer",
            "minimum": 1,
            "description": "所选 face_target 的去重可见对白区间总时长。"
          },
          "actual_duration_ms": {"type": "integer", "minimum": 1},
          "billable_duration_ms": {"type": "integer", "minimum": 1},
          "media_spec": {"type": "object"},
          "cost": {
            "type": "object",
            "required": [
              "points", "currency", "external_estimate",
              "actual_duration_ms", "billable_duration_ms", "breakdown"
            ],
            "properties": {
              "points": {"type": "integer", "minimum": 0},
              "currency": {"type": "string"},
              "external_estimate": {"type": "number", "minimum": 0},
              "actual_duration_ms": {"type": "integer", "minimum": 1},
              "billable_duration_ms": {"type": "integer", "minimum": 1},
              "breakdown": {"type": "array", "items": {"type": "object"}}
            }
          },
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expires_at": {"type": "integer"},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaLipsyncJobRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "shot_id", "quote_id", "expected_input_hash"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "quote_id": {"type": "string", "format": "uuid"},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"}
        }
      },
      "ShortDramaLipsyncJob": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id", "attempt_id", "project_id", "shot_id", "provider", "state",
          "attempt_state", "cost", "progress", "result", "error", "replayed"
        ],
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "attempt_id": {"type": "string", "format": "uuid"},
          "project_id": {"type": "string"},
          "shot_id": {"type": "string"},
          "provider": {"type": "string"},
          "provider_job_id": {"type": "string", "nullable": true},
          "state": {
            "type": "string",
            "enum": [
              "prepared", "queued", "running", "succeeded", "failed",
              "cancel_pending", "cancelled", "manual_review"
            ]
          },
          "attempt_state": {
            "type": "string",
            "enum": [
              "accepted", "charged", "linked", "settled", "failed",
              "refund_pending", "refunded", "manual_review"
            ]
          },
          "cost": {"type": "integer", "minimum": 0},
          "points_left": {"type": "integer", "nullable": true},
          "progress": {"type": "integer", "minimum": 0, "maximum": 100},
          "result": {"type": "object"},
          "error": {"type": "object"},
          "terminal": {"type": "object"},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaLipsyncSpeakerUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "revision", "timeline_revision", "changes"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 1},
          "changes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "id", "start_ms", "end_ms", "character_key",
                "speaking_mode", "face_target"
              ],
              "properties": {
                "id": {"type": "string"},
                "start_ms": {"type": "integer", "minimum": 0},
                "end_ms": {"type": "integer", "minimum": 1},
                "character_key": {"type": "string"},
                "speaking_mode": {
                  "type": "string",
                  "enum": ["visible", "offscreen", "silent"]
                },
                "face_target": {"type": "object"}
              }
            }
          }
        }
      },
      "ShortDramaLipsyncVersionMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "expected_revision", "expected_input_hash",
          "expected_pointer_revision"
        ],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "expected_revision": {"type": "integer", "minimum": 1},
          "expected_input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "expected_pointer_revision": {"type": "integer", "minimum": 0},
          "version_id": {"type": "string"}
        }
      },
      "ShortDramaFaceAnalysisRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "shot_id"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "character_references": {
            "type": "array",
            "minItems": 1,
            "description": "仅声明当前镜头角色；参考资产由服务端从项目内已锁定角色版本解析。客户端资产 ID 必须为空。",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["character_key"],
              "properties": {
                "character_key": {"type": "string", "minLength": 1},
                "reference_asset_ids": {
                  "type": "array",
                  "maxItems": 0,
                  "deprecated": true,
                  "items": {"type": "string"}
                }
              }
            }
          },
          "params": {"type": "object"}
        }
      },
      "ShortDramaFaceAnalysis": {
        "type": "object",
        "required": [
          "id", "contract_version", "project_id", "shot_id", "input_hash", "result_hash",
          "status", "result", "manual_confirmation_required",
          "can_create_paid_job"
        ],
        "properties": {
          "id": {"type": "string"},
          "contract_version": {"type": "string", "enum": ["short-drama-lipsync-face-analysis-v2"]},
          "project_id": {"type": "string"},
          "shot_id": {"type": "string"},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "result_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "status": {"type": "string", "enum": ["proposed", "manual_review", "failed"]},
          "result": {"type": "object", "additionalProperties": false, "required": ["detections", "tracks", "matches", "proposals", "limitations"], "properties": {"detections": {"type": "array", "items": {"type": "object"}}, "tracks": {"type": "array", "items": {"type": "object"}}, "matches": {"type": "array", "items": {"type": "object"}}, "proposals": {"type": "array", "items": {"type": "object"}}, "limitations": {"type": "array", "items": {"type": "string"}}}, "description": "v2 严格结果：只含检测框、轨迹、分数和候选，不含未知字段或原始人脸向量"},
          "manual_confirmation_required": {"type": "boolean", "enum": [true]},
          "can_create_paid_job": {"type": "boolean", "enum": [false]},
          "reused": {"type": "boolean"}
        }
      },
      "ShortDramaFaceTrackConfirmation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "analysis_id", "expected_input_hash", "expected_result_hash",
          "expected_revision", "review_mode", "review_reason", "mapping"
        ],
        "properties": {
          "analysis_id": {"type": "string", "minLength": 1},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expected_result_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expected_revision": {"type": "integer", "minimum": 0},
          "review_mode": {
            "type": "string",
            "enum": ["manual_confirmed", "manual_adjusted"]
          },
          "review_reason": {"type": "string", "minLength": 1},
          "mapping": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["segment_id", "face_track_id", "character_key"],
              "properties": {
                "segment_id": {"type": "string"},
                "face_track_id": {"type": "string"},
                "character_key": {"type": "string"}
              }
            }
          }
        }
      },
      "TimelineBlocker": {
        "type": "object",
        "required": ["code", "message"],
        "additionalProperties": true,
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "timeline_revision_conflict", "timeline_segment_overlap",
              "timeline_out_of_bounds", "timeline_missing_character",
              "timeline_missing_face_target", "timeline_voice_not_locked",
              "timeline_alignment_stale", "timeline_legacy_incomplete",
              "timeline_stage_readonly", "timeline_handoff_not_ready",
              "timeline_invalid_segment",
              "timeline_invalid_subtitle"
            ]
          },
          "message": {"type": "string"},
          "shot_id": {"type": "string"},
          "line_id": {"type": "string"},
          "segment_id": {"type": "string"}
        }
      },
      "TimelineSegment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id", "shot_id", "line_id", "character_key", "voice_asset_id",
          "start_ms", "end_ms", "speaking_mode", "face_target", "sort_order"
        ],
        "properties": {
          "id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "line_id": {"type": "string", "minLength": 1},
          "character_key": {"type": "string"},
          "voice_asset_id": {"type": "string"},
          "start_ms": {"type": "integer", "minimum": 0},
          "end_ms": {"type": "integer", "minimum": 1},
          "speaking_mode": {
            "type": "string",
            "enum": ["visible", "offscreen", "narration"]
          },
          "face_target": {
            "nullable": true,
            "allOf": [{"$ref": "#/components/schemas/FaceTarget"}]
          },
          "sort_order": {"type": "integer", "minimum": 0}
        }
      },
      "MasterTimelineVersion": {
        "type": "object",
        "required": [
          "id", "project_id", "version", "status", "effective_status",
          "revision", "contract_version", "duration_ms", "source_hashes",
          "timeline_hash", "input_hash", "subtitle_cues", "blockers", "segments"
        ],
        "additionalProperties": true,
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "project_id": {"type": "string"},
          "version": {"type": "integer", "minimum": 1},
          "parent_id": {"type": "string", "nullable": true},
          "status": {"type": "string", "enum": ["draft", "blocked", "ready"]},
          "effective_status": {
            "type": "string",
            "enum": ["draft", "blocked", "ready", "stale"]
          },
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 1},
          "contract_version": {
            "type": "string",
            "enum": ["short_drama_speaker_timeline_v1"]
          },
          "duration_ms": {"type": "integer", "minimum": 0},
          "source_hashes": {"type": "object", "additionalProperties": {"type": "string"}},
          "timeline_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "subtitle_cues": {"type": "array", "items": {"type": "object"}},
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineBlocker"}
          },
          "segments": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineSegment"}
          }
        }
      },
      "MasterTimelineSnapshot": {
        "type": "object",
        "required": [
          "contract_version", "project_id", "project_revision",
          "timeline_revision", "stage", "duration_ms", "shot_bounds",
          "characters", "source_hashes", "status", "versions", "blockers",
          "capabilities"
        ],
        "additionalProperties": true,
        "properties": {
          "contract_version": {
            "type": "string",
            "enum": ["short_drama_speaker_timeline_v1"]
          },
          "project_id": {"type": "string"},
          "project_revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 0},
          "stage": {"type": "string"},
          "duration_ms": {"type": "integer", "minimum": 0},
          "shot_bounds": {"type": "array", "items": {"type": "object"}},
          "characters": {"type": "array", "items": {"type": "object"}},
          "source_hashes": {"type": "object", "additionalProperties": {"type": "string"}},
          "status": {
            "type": "string",
            "enum": ["legacy", "draft", "blocked", "ready", "stale"]
          },
          "current_version": {
            "nullable": true,
            "allOf": [{"$ref": "#/components/schemas/MasterTimelineVersion"}]
          },
          "versions": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/MasterTimelineVersion"}
          },
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineBlocker"}
          },
          "capabilities": {"type": "object", "additionalProperties": {"type": "boolean"}},
          "replayed": {"type": "boolean"}
        }
      },
      "TimelineWriteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "revision", "timeline_revision", "changes"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 0},
          "changes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id", "start_ms", "end_ms", "character_key",
                "speaking_mode", "face_target"
              ],
              "properties": {
                "id": {"type": "string", "minLength": 1},
                "start_ms": {"type": "integer", "minimum": 0},
                "end_ms": {"type": "integer", "minimum": 1},
                "character_key": {"type": "string"},
                "speaking_mode": {
                  "type": "string",
                  "enum": ["visible", "offscreen", "narration"]
                },
                "face_target": {
                  "nullable": true,
                  "allOf": [{"$ref": "#/components/schemas/FaceTarget"}]
                }
              }
            }
          }
        }
      },
      "RevisionConflict": {
        "type": "object", "required": ["detail", "code"], "properties": {
          "detail": { "type": "string" }, "code": { "type": "string", "enum": ["revision_conflict", "job_already_applied"] }
        }
      },
      "TimelineHandoffConflict": {
        "type": "object",
        "required": ["detail", "code", "blockers"],
        "additionalProperties": false,
        "properties": {
          "detail": { "type": "string" },
          "code": { "type": "string", "enum": ["timeline_handoff_not_ready"] },
          "blockers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimelineBlocker" }
          }
        }
      },
      "ShortDramaDeleteConflict": {
        "oneOf": [
          { "$ref": "#/components/schemas/RevisionConflict" },
          { "type": "object", "required": ["detail", "code"], "additionalProperties": false, "properties": { "detail": { "type": "string" }, "code": { "type": "string", "enum": ["short_drama_unapplied_paid_job"] } } }
        ]
      },
      "ShortDramaConversationMutation": {
        "type": "object",
        "required": ["project_id", "conversation_revision"],
        "properties": {
          "project_id": { "type": "string" },
          "conversation_revision": { "type": "integer", "minimum": 1 },
          "message": { "type": "string", "minLength": 1, "maxLength": 8000 },
          "instruction": { "type": "string", "maxLength": 2000 },
          "version_id": { "type": "string" }
        }
      },
      "ShortDramaCharacterStudioWorkspace": {
        "type": "object",
        "required": ["project_id", "project_revision", "script_version_id", "characters", "avatars", "summary", "permissions"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "script_version_id": { "type": "string" },
          "script_version": { "type": "integer", "minimum": 1 },
          "characters": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "avatars": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "summary": { "type": "object", "additionalProperties": true },
          "permissions": { "type": "object", "additionalProperties": true }
        }
      },
      "ShortDramaCharacterProfileMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "project_revision", "character_key", "identity_text", "personality", "appearance_prompt", "wardrobe_prompt"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "character_key": { "type": "string" },
          "identity_text": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "personality": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "appearance_prompt": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "wardrobe_prompt": { "type": "string", "minLength": 1, "maxLength": 4000 }
        }
      },
      "ShortDramaCharacterAvatarMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "project_revision", "character_key", "avatar_id"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "character_key": { "type": "string" },
          "avatar_id": { "type": "string", "description": "传空字符串表示解除绑定" }
        }
      },
      "ShortDramaConversationWorkspace": {
        "type": "object",
        "required": ["project", "conversation", "messages", "versions", "permissions", "billing"],
        "properties": {
          "project": { "$ref": "#/components/schemas/ShortDramaProject" },
          "conversation": {
            "type": "object",
            "required": ["state", "revision"],
            "properties": {
              "state": { "type": "string", "enum": ["idea_intake", "direction_review", "script_generating", "script_review", "script_locked", "generation_failed"] },
              "revision": { "type": "integer", "minimum": 1 },
              "understanding": { "type": "object", "additionalProperties": true },
              "current_version_id": { "type": "string", "nullable": true },
              "locked_version_id": { "type": "string", "nullable": true }
            }
          },
          "messages": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "current_script": { "type": "object", "nullable": true, "additionalProperties": true },
          "versions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "permissions": { "type": "object", "additionalProperties": true },
          "billing": { "type": "object", "description": "PR-2 始终 cost=0、charged=false。", "additionalProperties": true }
        }
      },
      "ShortDramaPreflightWorkspace": {
        "type": "object",
        "required": ["project", "state", "conversation_revision", "versions", "stale", "permissions", "billing"],
        "properties": {
          "project": { "type": "object", "additionalProperties": true },
          "state": { "type": "string", "enum": ["script_required", "awaiting_preflight", "ready_for_confirmation", "confirmed"] },
          "conversation_revision": { "type": "integer", "minimum": 0 },
          "source_script": { "type": "object", "nullable": true, "additionalProperties": true },
          "current_plan": { "type": "object", "nullable": true, "additionalProperties": true },
          "versions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "stale": { "type": "boolean" },
          "permissions": { "type": "object", "additionalProperties": true },
          "billing": { "type": "object", "description": "PR-3 仅估算，始终 cost=0、charged=false。", "additionalProperties": true }
        }
      },
      "ShortDramaPreflightGenerate": {
        "type": "object",
        "required": ["project_id", "conversation_revision", "quality_route"],
        "properties": {
          "project_id": { "type": "string" },
          "conversation_revision": { "type": "integer", "minimum": 1 },
          "quality_route": { "type": "string", "enum": ["quick_draft", "formal"] }
        }
      },
      "ShortDramaPreflightConfirm": {
        "type": "object",
        "required": ["project_id", "plan_id", "plan_version", "accepted_issue_keys"],
        "properties": {
          "project_id": { "type": "string" },
          "plan_id": { "type": "string" },
          "plan_version": { "type": "integer", "minimum": 1 },
          "accepted_issue_keys": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Error": { "type": "object", "properties": { "detail": { "type": "string" }, "code": { "type": "string" } } }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/admin/short-drama/lipsync/health": {
      "get": {
        "tags": ["管理后台"],
        "summary": "短剧口型灰度健康、指标与告警",
        "responses": {"200": {"description": "健康指标、告警、灰度配置及 Provider 状态"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/admin/short-drama/lipsync/diagnostics": {
      "get": {
        "tags": ["管理后台"],
        "summary": "按项目、任务、扣点尝试或 Provider Job ID 脱敏诊断",
        "parameters": [
          {"name": "project_id", "in": "query", "schema": {"type": "string"}},
          {"name": "job_id", "in": "query", "schema": {"type": "string"}},
          {"name": "attempt_id", "in": "query", "schema": {"type": "string"}},
          {"name": "provider_job_id", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "脱敏任务、资金、版本和事件链"}, "400": {"description": "缺少查询标识"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/admin/short-drama/lipsync/rollout": {
      "post": {
        "tags": ["管理后台"],
        "summary": "更新短剧口型灰度比例、名单与全局熔断",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["confirmation", "reason", "enabled", "kill_switch", "percentage"], "properties": {"confirmation": {"type": "string", "enum": ["CONFIRM"]}, "reason": {"type": "string"}, "enabled": {"type": "boolean"}, "kill_switch": {"type": "boolean"}, "percentage": {"type": "integer", "minimum": 0, "maximum": 100}}}}}},
        "responses": {"200": {"description": "灰度配置已更新并审计"}, "409": {"description": "配置版本冲突"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/admin/short-drama/lipsync/provider": {
      "post": {
        "tags": ["管理后台"],
        "summary": "暂停或恢复单个口型 Provider",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["confirmation", "provider", "paused", "reason"], "properties": {"confirmation": {"type": "string", "enum": ["CONFIRM"]}, "provider": {"type": "string"}, "paused": {"type": "boolean"}, "reason": {"type": "string"}, "incident_id": {"type": "string"}}}}}},
        "responses": {"200": {"description": "Provider 状态已更新并审计"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/admin/short-drama/lipsync/reconcile": {
      "post": {
        "tags": ["管理后台"],
        "summary": "释放指定口型任务租约并恢复轮询",
        "responses": {"200": {"description": "恢复结果"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/admin/short-drama/lipsync/refund": {
      "post": {
        "tags": ["管理后台"],
        "summary": "重试指定失败口型扣点尝试的退款",
        "responses": {"200": {"description": "退款恢复结果"}, "403": {"description": "需要管理员权限"}}
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["认证"], "summary": "登录(拿 token)", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["username", "password"], "properties": { "username": { "type": "string", "example": "fang" }, "password": { "type": "string" } } } } } },
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "token": { "type": "string" }, "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "账号或密码错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } } }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": ["认证"], "summary": "注册新账号", "security": [],
        "description": "创建普通账号；invite_code 可选，存在时在同一事务绑定直接邀请关系。网站注册成功后通过 HttpOnly Cookie 保持登录。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["username", "password"], "additionalProperties": true,
          "properties": {
            "username": { "type": "string", "maxLength": 64 },
            "password": { "type": "string", "minLength": 6 },
            "display_name": { "type": "string", "maxLength": 32 },
            "invite_code": { "type": "string", "maxLength": 32 },
            "invite_source": { "type": "string", "enum": ["web_link"] },
            "device_id": { "type": "string", "maxLength": 256 }
          }
        } } } },
        "responses": {
          "200": { "description": "注册成功", "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } } } } } },
          "400": { "description": "注册字段无效" }, "409": { "description": "账号已存在或邀请关系冲突" }, "429": { "description": "注册尝试过于频繁" }
        }
      }
    },
    "/api/auth/card/wechat/bind": {
      "post": {
        "tags": ["认证"], "summary": "为当前账号名片绑定微信小程序身份",
        "description": "需要现有 Bearer 或登录 Cookie；只绑定 business_cards，不读取或写入 users.wx_openid。成功后返回独立 card_token。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "已绑定（同一账号重复绑定幂等）" }, "401": { "description": "未登录" }, "409": { "description": "openid_in_use" } }
      }
    },
    "/api/auth/miniprogram/card-login": {
      "post": {
        "tags": ["认证"], "summary": "兼容旧版：以已绑定名片的微信身份登录工作台", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "token、user 和 owner-only card" }, "404": { "description": "card_unbound" } }
      }
    },
    "/api/auth/miniprogram/card-session": {
      "post": {
        "tags": ["认证"], "summary": "以微信身份恢复独立名片会话", "security": [],
        "description": "只返回 card_token，不创建黄雀 AI 工作台登录态。card_token 仅可访问本人名片及修改其绑定账号密码。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "card_token 和 owner-only card" }, "404": { "description": "card_unbound" } }
      }
    },
    "/api/auth/miniprogram/card-account-login": {
      "post": {
        "tags": ["认证"], "summary": "明确使用名片绑定账号登录工作台",
        "description": "需要 X-HQ-Card-Token；仅在用户主动选择后把名片身份换成黄雀 AI 工作台 token。",
        "responses": { "200": { "description": "token 和 user" }, "401": { "description": "card_session_invalid" } }
      }
    },
    "/api/auth/miniprogram/card-register": {
      "post": {
        "tags": ["认证"], "summary": "用手机号、新名片和微信身份注册小程序", "security": [],
        "description": "手机号同时作为账号和初始密码；服务端只返回 must_change/initial_password 提示，不返回任何明文密码。separate_sessions=true 时只返回 card_token，不自动登录工作台。有效且仍可验证的名片归因按后台当前邀请奖励配置发放，否则不发放。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code", "phone", "card", "device_id"], "properties": { "wx_code": { "type": "string", "writeOnly": true }, "phone": { "type": "string", "pattern": "^1[3-9]\\d{9}$" }, "card": { "type": "object" }, "device_id": { "type": "string", "maxLength": 256 }, "invite_code": { "type": "string" }, "invite_attribution_token": { "type": "string", "writeOnly": true }, "separate_sessions": { "type": "boolean" } } } } } },
        "responses": { "200": { "description": "card_token（独立会话）或兼容 token、user、card，以及 created、invite_rewarded、ai_account、initial_password 等幂等回执" }, "409": { "description": "account_exists 或 invalid_invite_attribution" } }
      }
    },
    "/api/auth/invite/journey/start": {
      "post": {
        "tags": ["认证"], "summary": "记录访客开始制作邀请名片", "security": [],
        "description": "只接受公开名片接口签发的服务端归因令牌，用于转化分析；本接口不建立邀请关系，也不发放点数或会员权益。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["invite_attribution_token"], "properties": { "invite_attribution_token": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "记录成功或兼容旧令牌" }, "409": { "description": "invalid_invite_attribution" } }
      }
    },
    "/api/auth/invite/code": {
      "get": {
        "tags": ["认证"], "summary": "获取当前用户的稳定邀请码",
        "responses": {
          "200": { "description": "邀请码与邀请链接", "content": { "application/json": { "schema": {
            "type": "object", "required": ["code", "invite_link"],
            "properties": { "code": { "type": "string", "minLength": 6, "maxLength": 6 }, "invite_link": { "type": "string", "format": "uri" } }
          } } } },
          "401": { "description": "未登录" }, "409": { "description": "邀请活动当前不可用" }
        }
      }
    },
    "/api/admin/points/audit": {
      "get": {
        "tags": ["管理"], "summary": "读取点数总账流水与汇总", "description": "仅管理员可访问；公开入口由 admin-api 转发，auth 内部端点不对公网暴露。",
        "parameters": [
          { "name": "username", "in": "query", "schema": { "type": "string" } },
          { "name": "actor", "in": "query", "schema": { "type": "string", "enum": ["admin", "system", ""] } },
          { "name": "direction", "in": "query", "schema": { "type": "string", "enum": ["debit", "credit", ""] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 300, "default": 100 } }
        ],
        "responses": { "200": { "description": "流水 items、total 与 credits/debits/net 汇总" }, "401": { "description": "未登录" }, "403": { "description": "非管理员" } }
      }
    },
    "/api/auth/logout": {
      "post": { "tags": ["认证"], "summary": "登出(撤销 token)", "responses": { "200": { "description": "OK" } } }
    },
    "/api/auth/change_password": {
      "post": {
        "tags": ["认证"], "summary": "改密码(需当前密码，成功后该账号的工作台 token 全部失效)",
        "description": "支持工作台 Bearer/Cookie 或 X-HQ-Card-Token；名片会话不因改密失效。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["old_password", "new_password"], "properties": { "old_password": { "type": "string", "description": "当前密码" }, "new_password": { "type": "string", "description": "至少 6 位" } } } } } },
        "responses": { "200": { "description": "OK，该账号的工作台 token 失效，需要重新登录" }, "400": { "description": "当前密码错误 / 新密码太短" }, "401": { "description": "未登录" } }
      }
    },
    "/api/auth/me": {
      "get": { "tags": ["认证"], "summary": "当前用户信息 / 点数", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "未登录" } } }
    },
    "/api/gen/digital-presenter/capability": {
      "get": {
        "tags": ["数字人"], "summary": "读取数字人功能开关", "description": "只读且不扣点。",
        "responses": { "200": { "description": "功能是否开放", "content": { "application/json": { "schema": { "type": "object", "required": ["enabled"], "properties": { "enabled": { "type": "boolean" } } } } } }, "401": { "description": "未登录" } }
      }
    },
    "/api/gen/digital-presenter/projects": {
      "post": {
        "tags": ["数字人"], "summary": "创建数字人项目", "description": "需要 X-Canvas-Board-Id；owner/editor 可写，功能开关关闭时返回 404。",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
        "responses": { "200": { "description": "项目已创建" }, "400": { "description": "字段无效" }, "401": { "description": "未登录" }, "403": { "description": "画布权限不足" }, "404": { "description": "画布不存在或功能未开放" } }
      }
    },
    "/api/gen/digital-presenter/project": {
      "get": {
        "tags": ["数字人"], "summary": "读取数字人项目", "description": "X-Canvas-Board-Id 必填且必须匹配项目所属画布；owner/editor/viewer 可读。",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }, { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "项目详情" }, "400": { "description": "缺少项目 ID" }, "401": { "description": "未登录" }, "403": { "description": "画布权限不足" }, "404": { "description": "项目不存在" } }
      },
      "put": {
        "tags": ["数字人"], "summary": "更新数字人项目", "description": "X-Canvas-Board-Id 必填且必须匹配项目所属画布；owner/editor 可写，viewer 返回 403。请求体必须携带 project_id 与 revision。",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["project_id", "revision"], "additionalProperties": true, "properties": { "project_id": { "type": "string" }, "revision": { "type": "integer", "minimum": 1 } } } } } },
        "responses": { "200": { "description": "项目已更新" }, "400": { "description": "字段无效" }, "403": { "description": "画布权限不足" }, "404": { "description": "项目或功能不存在" }, "409": { "description": "revision_conflict" } }
      },
      "delete": {
        "tags": ["数字人"], "summary": "删除数字人项目", "description": "X-Canvas-Board-Id 必填且必须匹配项目所属画布；仅画布 owner 可删除，editor/viewer 返回 403。", "parameters": [
          { "$ref": "#/components/parameters/XCanvasBoardIdRequired" },
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "revision", "in": "query", "required": true, "schema": { "type": "integer", "minimum": 1 } }
        ],
        "responses": { "200": { "description": "项目已删除" }, "400": { "description": "参数无效" }, "403": { "description": "仅 owner 可删除" }, "404": { "description": "项目或功能不存在" }, "409": { "description": "revision_conflict" } }
      }
    },
    "/api/gen/short-drama/planning-quote": {
      "get": {
        "tags": ["短剧策划"], "summary": "读取当前短剧策划价格", "description": "Free / no points. 认证后从服务端点数域实时读取 format=short_drama 的 copy 价格；客户端必须先取得本报价并用精确 cost 请求确认，确认后才可提交付费 copy job。",
        "responses": {
          "200": { "description": "当前服务端报价；本请求不扣点", "content": { "application/json": { "schema": { "type": "object", "required": ["cost"], "additionalProperties": false, "properties": { "cost": { "type": "integer", "minimum": 0 } } } } } },
          "401": { "description": "未登录", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/gen/short-drama/planning-job": {
      "get": {
        "tags": ["短剧策划"], "summary": "恢复当前项目尚未应用的短剧策划任务", "description": "Free / no points. 本地项目仅创建者可读；共享项目需携带匹配的 X-Canvas-Board-Id，owner/editor/viewer 可读。仅返回调用者本人提交、与当前 draft 策划参数快照一致且尚未应用的 pending、running 或 done 付费任务，避免重复扣点。",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, { "in": "query", "name": "project_id", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "可恢复任务；没有时 job_id 为 null", "content": { "application/json": { "schema": { "type": "object", "required": ["job_id"], "additionalProperties": false, "properties": { "job_id": { "type": "integer", "nullable": true }, "cost": { "type": "integer", "minimum": 0 }, "status": { "type": "string", "enum": ["pending", "running", "done"] }, "project_revision": { "type": "integer", "minimum": 1 } } } } } },
          "400": { "description": "缺少或无效的 project_id" }, "401": { "description": "未登录" }, "403": { "description": "账号必须先修改初始密码" }, "404": { "description": "项目不存在或不属于当前用户" }
        }
      }
    },
    "/api/gen/short-drama/production": {
      "get": {
        "tags": ["短剧"],
        "summary": "读取短剧关键帧制作工作区",
        "description": "读取并对账关键帧制作快照，同时返回进入配音阶段的服务端标准阻塞判定。本地项目仅创建者可读；共享项目需携带匹配的 X-Canvas-Board-Id，owner/editor/viewer 可读。",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, {
          "name": "project_id", "in": "query", "required": true,
          "schema": {"type": "string", "minLength": 1}
        }],
        "responses": {
          "200": {"description": "关键帧制作工作区快照", "content": {"application/json": {"schema": {
            "type": "object",
            "required": [
              "project_id", "revision", "stage", "ratio", "point_budget",
              "spent_points", "reserved_points", "handoff_blocked",
              "handoff_blockers", "shots"
            ],
            "properties": {
              "project_id": {"type": "string"},
              "revision": {"type": "integer", "minimum": 1},
              "stage": {"type": "string"},
              "ratio": {"type": "string", "enum": ["9:16", "16:9"]},
              "point_budget": {"type": "integer", "minimum": 0},
              "spent_points": {"type": "integer", "minimum": 0},
              "reserved_points": {"type": "integer", "minimum": 0},
              "handoff_blocked": {"type": "boolean"},
              "handoff_blockers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {"type": "string", "enum": [
                      "missing_locked_still", "active_job", "refund_pending",
                      "charge_attempt_pending", "ledger_inconsistent"
                    ]},
                    "shot_id": {"type": "string"},
                    "message": {"type": "string"}
                  }
                }
              },
              "shots": {"type": "array", "items": {"type": "object"}}
            }
          }}}},
          "400": {"description": "缺少 project_id，或项目尚未进入制作阶段"},
          "401": {"description": "未登录"},
          "403": {"description": "必须修改初始密码，或账号没有画布基础访问能力"},
          "404": {"description": "项目不存在，或当前用户无权发现该项目"}
        }
      }
    },
    "/api/gen/short-drama/voice": {
      "get": {
        "tags": ["短剧"],
        "summary": "读取短剧配音字幕工作区",
        "description": "只读且不扣点；首次读取历史 voice_review 项目时幂等建立配音快照。本地项目仅创建者可读；共享项目需携带匹配的 X-Canvas-Board-Id，owner/editor/viewer 可读。",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, {
          "name": "project_id",
          "in": "query",
          "required": true,
          "schema": {"type": "string", "minLength": 1}
        }],
        "responses": {
          "200": {
            "description": "配音字幕工作区快照",
            "content": {"application/json": {"schema": {
              "type": "object",
              "required": [
                "project_id", "revision", "stage", "ratio", "target_duration",
                "point_budget", "spent_points", "reserved_points",
                "unlocked_shot_count", "handoff_blocked", "handoff_blockers", "shots"
              ],
              "properties": {
                "project_id": {"type": "string"},
                "revision": {"type": "integer", "minimum": 1},
                "stage": {"type": "string", "enum": ["voice_review", "video_review", "assembly_review", "completed"]},
                "ratio": {"type": "string", "enum": ["9:16", "16:9"]},
                "target_duration": {"type": "integer", "enum": [30, 45, 60]},
                "point_budget": {"type": "integer", "minimum": 0},
                "spent_points": {"type": "integer", "minimum": 0},
                "reserved_points": {"type": "integer", "minimum": 0},
                "unlocked_shot_count": {"type": "integer", "minimum": 0},
                "handoff_blocked": {"type": "boolean"},
                "handoff_blockers": {"type": "array", "items": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {"type": "string"},
                    "message": {"type": "string"},
                    "shot_id": {"type": "string"},
                    "line_id": {"type": "string"}
                  }
                }},
                "shots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["id", "shot_key", "sort_order", "duration", "locked", "timeline_revision", "status", "lockable", "lock_blockers", "lines"],
                    "properties": {
                      "id": {"type": "string"},
                      "shot_key": {"type": "string"},
                      "sort_order": {"type": "integer"},
                      "duration": {"type": "integer", "enum": [5, 10]},
                      "locked": {"type": "boolean"},
                      "timeline_revision": {"type": "integer", "minimum": 1},
                      "status": {"type": "string", "enum": ["silent", "pending", "ready", "done", "failed"]},
                      "lockable": {"type": "boolean"},
                      "lock_blockers": {"type": "array", "items": {
                        "type": "object",
                        "required": ["code", "message"],
                        "properties": {
                          "code": {"type": "string"},
                          "message": {"type": "string"},
                          "shot_id": {"type": "string"},
                          "line_id": {"type": "string"}
                        }
                      }},
                      "lines": {"type": "array", "items": {
                        "type": "object",
                        "required": [
                          "id", "dialogue_line_id", "line_type", "sort_order",
                          "character_key", "character_name", "source_text", "speech_text",
                          "subtitle_text", "subtitle_visible", "voice_key", "speed", "pitch",
                          "volume", "current_version", "start_ms", "end_ms",
                          "suggested_start_ms", "suggested_end_ms", "input_hash",
                          "versions", "job"
                        ],
                        "properties": {
                          "id": {"type": "string"},
                          "dialogue_line_id": {"type": "string", "nullable": true},
                          "line_type": {"type": "string", "enum": ["dialogue", "narration"]},
                          "sort_order": {"type": "integer", "minimum": 0},
                          "character_key": {"type": "string"},
                          "character_name": {"type": "string"},
                          "source_text": {"type": "string"},
                          "speech_text": {"type": "string"},
                          "subtitle_text": {"type": "string"},
                          "subtitle_visible": {"type": "boolean"},
                          "voice_key": {"type": "string"},
                          "speed": {"type": "number", "minimum": 0.5, "maximum": 2.0},
                          "pitch": {"type": "integer", "minimum": -12, "maximum": 12},
                          "volume": {"type": "integer", "minimum": -50, "maximum": 100},
                          "current_version": {"type": "integer", "minimum": 1, "nullable": true},
                          "start_ms": {"type": "integer", "minimum": 0, "nullable": true},
                          "end_ms": {"type": "integer", "minimum": 1, "nullable": true},
                          "suggested_start_ms": {"type": "integer", "minimum": 0, "nullable": true},
                          "suggested_end_ms": {"type": "integer", "minimum": 1, "nullable": true},
                          "input_hash": {"type": "string", "pattern": "^[a-f0-9]{64}$"},
                          "versions": {"type": "array", "items": {"type": "object"}},
                          "job": {"type": "object", "nullable": true}
                        }
                      }}
                    }
                  }
                }
              }
            }}}
          },
          "400": {"description": "项目尚未进入配音阶段", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "401": {"description": "未登录", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "403": {"description": "必须修改初始密码，或账号没有画布基础访问能力", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "404": {"description": "项目不存在，或当前用户无权发现该项目", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/api/gen/short-drama/subtitle-alignment/workspace": {
      "get": {
        "tags": ["短剧"],
        "summary": "读取第 4 阶段字幕强制对齐工作区",
        "description": "返回冻结输入哈希、真实/降级 Provider 能力、feature/shadow 状态、可恢复任务、不可变版本、cue/word 时间、真实置信度、unmatched_tokens、low_confidence_ranges、degradation、操作门禁和服务端阶段推进能力。Provider 转写仅作诊断，发布文本始终使用锁定台词。未启动对齐的历史项目保持兼容，本阶段不扣点。",
        "security": [{"bearerAuth": []}],
        "parameters": [{"$ref": "#/components/parameters/XCanvasBoardId"}, {
          "name": "project_id", "in": "query", "required": true,
          "schema": {"type": "string", "minLength": 1}
        }],
        "responses": {
          "200": {"description": "字幕对齐工作区"},
          "401": {"description": "未登录"},
          "403": {"description": "无画布访问权限"},
          "404": {"description": "项目不存在"}
        }
      }
    },
    "/api/gen/short-drama/subtitle-alignment/jobs": {
      "post": {
        "tags": ["短剧"],
        "summary": "创建字幕强制对齐任务",
        "description": "幂等创建零扣点字幕对齐任务。真实任务受 HQ_SHORT_DRAMA_ALIGNMENT_REAL_ENABLED 控制；Provider Job ID、能力、trace_id、heartbeat 和终态在返回后立即持久化，刷新或重启优先恢复原任务。",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {"$ref": "#/components/parameters/XCanvasBoardId"},
          {"$ref": "#/components/parameters/IdempotencyKeyRequired"}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "additionalProperties": false,
          "required": ["project_id", "revision"],
          "properties": {
            "project_id": {"type": "string", "minLength": 1},
            "revision": {"type": "integer", "minimum": 1}
          }
        }}}},
        "responses": {
          "202": {"description": "任务已创建"},
          "200": {"description": "相同幂等请求重放，或不同幂等键复用相同输入的已有版本"},
          "409": {"description": "幂等冲突或存在活动任务"},
          "422": {"description": "输入未锁定、音频未就绪、低置信或台词无法匹配"},
          "502": {"description": "Provider 结果无效"},
[...]
